link(href="/lib/font-awesome/css/font-awesome.min.css", rel="stylesheet")
link(href="/lib/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
script(src="/lib/jquery/dist/jquery.min.js")
script(src="/lib/bootstrap/dist/js/bootstrap.min.js")

link(href="/css/color.css", rel="stylesheet")  
link(href="/css/common.css", rel="stylesheet")  
link(href="/css/nav.css", rel="stylesheet")  
link(href="/css/footer.css", rel="stylesheet")  
if resource
    link(href="#{cssMap[resource]}", rel="stylesheet")  