.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") Bow电影
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
            ul.nav.navbar-nav
                li
                    a(href="#") 电视剧
                li
                    a(href="#") 排行榜
                li
                    a(href="#") 分类
                li
                    a(href="#") 2015年度榜单
            if user
                p.navbar-text.navbar-right
                    span 欢迎您, #{user.name}
                    span &nbsp;|&nbsp;
                    a.navbar-link(href="/logout") 注销
            else
                p.navbar-text.navbar-right
                    a.navbar-link(href="#", data-toggle='modal', data-target="#signupModal") 注册
                    span &nbsp;|&nbsp;
                    a.navbar-link(href="#", data-toggle='modal', data-target="#signinModal") 登录
#signupModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST", action="/user/signup")
                .modal-header 注册
                .modal-body
                    .form-group
                        label(for="signupName") 用户名
                        input#signupName.form-control(name="user[name]", type="text")
                    .form-group
                        label(for="signupPassword") 密码
                        input#signupPassword.form-control(name="user[password]", type="text")
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 提交
#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form(method="POST", action="/user/signin")
                .modal-header 登录
                .modal-body
                    .form-group
                        label(for="signinName") 用户名
                        input#signinName.form-control(name="user[name]", type="text")
                    .form-group
                        label(for="signinPassword") 密码
                        input#signinPassword.form-control(name="user[password]", type="text")
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 提交