@import 'common.scss';

.banner {
    width: 100%;
    height: 400px;
    background: #243234;
    overflow: hidden;
    img {
        width: 100%;
    }
}

@mixin infobox {
    h4 {
        margin: 16px 0;
        color: $themeblue;
    }
    .line {
        display: block;
        width: 56%;
        height: 3px;
        background: $line;
    }
    p {
        margin-top: 16px;
    }
}

.wrap {
    position: relative;
    width: 80%;
    // height: 1000px;
    margin: -200px auto 0;
    padding-bottom: 30px;
    .info {
        .poster {
            position: absolute;
            left: 0;
            top: 0;
            width: 250px;
            height: 367px;
            overflow: hidden;
            img {
                height: 100%;
            }
        }
        .brief {
            width: 100%;
            height: 200px;
            padding-left: 270px;
            box-sizing: border-box;
            // background: rgba(0,0,0,0.3);
            background: -webkit-gradient(linear,0% center,80% center,from(rgba(0, 0, 0, 1)),to(rgba(0, 0, 0, 0)));
            p {
                color: #fff;
            }
            h2 {
                color: #fff;
            }
            span {
                color: #fff;
            }
        }
        .about {
            width: 700px;
            padding-left: 270px;
            @include infobox;
        }
        .detail {
            width: 250px;
            float: left;
            @include infobox;
        }
        .similar {
            h4 {
                display: inline-block;
                padding-left: 20px;
            }
            .line {
                margin-left: 20px;
            }
            @include infobox;
            position: relative;
            width: 452px;
            height: 470px;
            float: left;
            .hover-toggle {
                width: 100%;
                text-align: center;
                position: absolute;
                padding-right: 40px;
                bottom: 0;
                .hover-block {
                    display: inline-block;
                    width: 50px;
                    height: 30px;
                    margin: 0 10px;
                    line-height: 20px;
                    cursor: pointer;
                    span {
                        display: inline-block;
                        width: 50px;
                        height: 4px;
                        background: $line;
                    }
                }
                .hover-block.active {
                    span {
                        background: $themeblue;
                    }
                }
            }
            .slide-box {
                .similar-list {
                    position: relative;
                    width: 1400px;
                    padding-top: 20px;
                    li {
                        float: left;
                        width: 451px;
                        height: 100%;
                        ul {
                            position: relative;
                            height: 360px;
                            padding-left: 20px;
                            li {
                                float: left;
                                width: 50%;
                                height: 340px;
                                z-index: 99;
                                .similar-movie {
                                    position: relative;
                                    width: 100%;
                                    height: 100%;
                                    a {
                                        top: 30px;
                                        width: 180px;
                                        position: absolute;
                                        cursor: default;
                                        img {
                                            width: 100%;
                                            box-shadow: 0 0 16px rgba(0,0,0,0.8);
                                        }
                                    }

                                    .similar-brief {
                                        position: absolute;
                                        top: 260px;
                                        width: 80%;
                                        text-align: center;
                                        @include transition;
                                        p {
                                            margin: 40px 0;
                                            font-size: 20px;
                                        }
                                    }
                                }

                            }
                            
                            li:first-child {
                                .similar-movie {
                                    a {
                                        left: 0;
                                    }
                                }
                            }
                            
                            li:last-child {
                                .similar-movie {
                                    a {
                                        right: 0;
                                    }
                                }
                            }
                            li:nth-child(2n) {
                                .similar-movie {
                                    a{
                                        right: 40px;
                                    }
                                    .similar-brief {
                                        // right: 40px;
                                        float: left;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pva {
            position: absolute;
            right: 0;
            top: 200px;
            width: 300px;
            .hover-toggle {
                @include infobox;
                h4 {
                    display: inline-block;
                    width: 140px;
                    text-align: center;
                    color: #585858;
                    cursor: pointer;
                }
                h4.active {
                    color: $themeblue;
                }
                h4:before {
                    position: absolute;
                    top: 20px;
                    content: '';
                    display: block;
                    width: 2px;
                    height: 10px;
                    background: $line;
                }
                h4:first-child:before {
                    opacity: 0;
                }
                span.line {
                    width: 100%;
                }
            }
            .slide-box {
                margin-top: 16px;
                // box-shadow: 0 0 20px rgba(0,0,0,0.8);
            }
            ul {
                margin: 0;
                li {
                    width: 300px;
                    height: 525px;
                }
                li.photos {
                    // background: #969696;
                    .row {
                        height: 175px;
                        margin: 0;
                        .col {
                            padding: 1px;
                            box-sizing: border-box;
                            height: 100%;
                            overflow: hidden;
                            img {
                                // width: 100%;
                                height: 100%;
                                display: block; 
                                box-shadow: none;
                            }
                            img.photo-large {
                            }
                            img.photo-middle {
                            }
                            img.photo-small {
                                width: 101%;
                                height: 55%;
                                border-left: 2px solid transparent;
                                box-sizing: border-box;
                            }
                            img.photo-small:first-child {
                                margin-bottom: 2px;
                            }
                        }
                        .col-small {
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
                li.videos {
                    background: #2196f3;
                }
                li.reviews {
                    background: #009688;
                }
            }
        }
    }
}

.wrap-dark {
    width: 100%;
    background: $bgwhite;
    .review {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 100px;
        h4 {
            display: block;
            width: 280px;
            margin: 40px 0;
            border-left: 4px solid $themeblue;
            padding-left: 20px;
        }
        .row {
            .col {
                margin: 20px 0;
                img {
                    width: 60px;
                    margin-top: 30px;
                    float: left;
                    box-shadow: 0 0 40px rgba(0,0,0,0.6);
                }
                .review-box {
                    width: 80%;
                    float: right;
                    a {
                        font-size: 16px;
                    }
                    p {
                        margin: 6px 0;
                    }
                    .review-time {
                        font-size: 12px;
                        color: #b1b1b1;
                    }
                }
            }
        }
    }
    .more-review {
        width: 100%;
        height: 50px;
        line-height: 50px;
        background: $bggrey;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
    }
}